* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arial";
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.muattar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.muattar__nav-list {
    display: flex;
    gap: 40px;
    
}
.muattar__nav-link {
    color: #150101;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    transition: 0.3s;
}
.muattar__nav-link:hover {
    color: #D23166;
    font-weight: 700;
}
.muattar__nav-btn {
    color: #FAFAFA;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    border-radius: 5px;
    background: #D23166;
    padding: 14px 50px;
    display: block;
    text-align: center;
}
.mmm {}

.muhr .box {
display: flex;
gap: 91px;
align-items: center;
}
.muhr .card{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.muhr .title{
font-size: 20px;
font-weight: 600;
line-height: 28px;
color: #000;
margin-top: 25px;

}
.muhr .text{
font-size: 14px;
font-weight: 400;
line-height: 19px;
max-width: 198px;
width: 100%;
margin-top: 9px;

}

.rik {}

.islom {}

.nodir {}

.aresu {}

.shox 
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.pro__profil{
    display: flex;
    align-items: center;
    gap: 11px;
}
.pro__pro {
    display: flex;
    justify-content: space-between;
}
    .pro__ismi{
        font-family: 'arial';
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: black;
    }
    .pro__millati{
        font-family: 'arial';
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: black;
    }
    .pro__ism{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .pro__text{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .pro__text10{
        font-family: 'arial';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 322px;
    }
    .pro__rasmla{
        display: flex;
        align-items: center;
        gap: 25px;
    }

.farrux {}